#categorias-conteiner{
display: grid;
grid-template-columns: 1fr 1fr;
margin: 40;
}

a{
    margin: 5px 5px ;
    font-weight: bold;
    padding: 80px;
    border-radius: 10px;
    text-align:center;
    color:whitesmoke;
    background-size: cover;
    background-position: center;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo{
    
    margin: 0 auto; 
    width: 250px;
    height: 250px;
    display: flex;
  justify-content: center;
  align-items: center;

}
 