#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo{
    
    margin: 0 auto; 
    width: 250px;
    height: 250px;
    display: flex;
  justify-content: center;
  align-items: center;

}

#fondo{
    background-image: url("https://w0.peakpx.com/wallpaper/357/769/HD-wallpaper-boat-water.jpg");
}
